.timeline-holder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.timeline-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.timeline-header div{
    display: flex;
    flex-direction: row;
}

.timeline-holder{
    flex-direction: column;
}

.timeline-holder .button{
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
}

.timeline-icon div svg{
    transform: scale(1.3);
}

.timeline-icon-active div svg{
    color: black;
}

.graph{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-holder{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-date-holder{
    font-family: 'Digital';
    font-size: 40px;
    color: var(--theme-1);
    display: flex;
    align-items: center;
}

.timeline-navigators{
    transform: scale(0.6);
    cursor: pointer;
}